<RunSettings>
	<RunConfiguration>
		<DisableAppDomain>True</DisableAppDomain>
	</RunConfiguration>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage"  uri="datacollector://Microsoft/CoverletCodeCoverage/1.0"   >
				<Configuration>
					<Format>cobertura</Format>
					<LogLevel>Verbose</LogLevel>
					<UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
					<AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
					<CollectFromChildProcesses>True</CollectFromChildProcesses>
					<CollectAspDotNet>False</CollectAspDotNet>
					<!-- <ModulePaths> -->
					<!-- 	<Exclude> -->
					<!-- 		<ModulePath>ShadowExample.*</ModulePath> -->
					<!-- 	</Exclude> -->
					<!-- </ModulePaths> -->
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>